{% extends "base.html" %}

{% block content %}
<div class="container mt-5"> <!-- margin-top level 5 -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-uppercase text-center mb-4">Регистрация</h1>
                <form method="POST" action="{{ url_for('register') }}" class="bg-light p-4 rounded shadow-sm">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </div>
                    <div class="mb-3">
                        {{ form.confirm_password.label }}<br>
                        {{ form.confirm_password(size=64) }}
                    </div>
                    <div class="mb-3">
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}